<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_DIR" value="src/main/resources"/>

    <appender name="FILE"
              class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/tests.log</file>
        <append>true</append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.example.testScenario" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.example.baseElement" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.example.baseForm" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.example.browser" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.example.utils" level="debug" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

</configuration>